{% extends "layout.html" %}

{% block title %} Instructions {% endblock %}

{% block main %}
    <h1 class="mb-4">{{item[0]}}</h1>
    <div class="mb-4">
        <img src= "{{item[1]}}" alt="Recipe Image" style="max-width: 100%; height: auto;">
    </h1>
    <br><br>
    <h2 style = "margin-right: 1200px">Summary: </h2>
    <div>
        {{info.summary | safe}}
    </div>
    <h2 style = "margin-right: 1200px">Requirements: </h2>
    <ul style = "text-align: left">
        {% for element in item[2]%}
            {% if element != ", " and element != ""%}
                <li>{{element}}</li>
            {% endif %}
        {% endfor %}
    </ul>
    <h2 style = "margin-right: 1200px">Instructions: </h2>
    <br>
    <ol>
        {% for instruction in instructions[0].steps %}
            <li>{{instruction.step}}</li>
            <br>
        {% endfor %}
    </ol>

 
{% endblock %}

